#main{
    background-color : rgba(8, 239, 251, 255); 
}

#header{
    font-size:18px;
    color:"white";
    background-color : rgba(63, 157, 214, 255);
    border-radius : 10px;
}

#time{
    background-color : rgba(81, 212, 206, 155);
    border-radius : 10px;
    color : rgba(10, 0, 0, 255);
}

QPushButton {
    background-color: rgba(53, 144, 136, 99); 
    color: rgb(0, 0, 0);
}

QPushButton:hover {
    font-size : 18px;;
    background : rgba(55, 134, 187, 170)
}

#frame{
    border-radius:13px;
    border : 8px 'black';
    background-color : rgba(56, 160, 158, 202); 

}
